<template>
  <main class="h-screen flex flex-col align-middle justify-around">
    <section id="playerInfos" class="flex flex-col content-center">
      <h1>Player's Infos</h1>
      <h2>Name : {{ name }}</h2>
      <h2>Energy : {{ Math.floor(energy) }}</h2>
      <h2>Your seal's Bag:</h2>
      <ul class="m-auto p-3 bg-yellow-800 rounded-lg flex flex-row flex-wrap">
        <li v-for="(seal, index) in seals" :key="index"
            :class="`w-32 h-32 pw-2 flex flex-col content-center justify-center
            border-4 border-yellow-800 rounded-3xl
            text-black text-center
            ${selectedSeal > -1 && selectedSeal === index? 'bg-blue-900':'' }
            `"
            :style="{
              'background-image': getElementalBackground(seal.element.toLowerCase()),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
            }"
            @click.left="selectSeal(index)"
            @click.right.prevent="selectSeal(index)"
        >
          <img :src="`${getSignImage(seal.sign)}`" :alt="seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li v-if="seals.length === 0" class="w-16 h-16">Empty</li>
      </ul>
    </section>
    <section v-if="selectedSeal !== -1" id="sealInfos" class="flex flex-col align-middle justify-around">
      <h1>Seal's Infos</h1>
      <h2>Name : {{seals[selectedSeal]["name"]}}</h2>
      <h2>Element : {{seals[selectedSeal]["element"]}}</h2>
      <h2>Sign : {{seals[selectedSeal]["sign"]}}</h2>
      <h2>Opposite Sign : {{seals[selectedSeal]["signOpposite"]}}</h2>
    </section>
    <section id="actions" class="flex align-middle justify-around">
      <button @click="incEnergy">
        Make One Energy
      </button>
      <button @click="destroySelectedSeal" :disabled="selectedSeal === -1">
        Destroy selected Seal
      </button>
      <button @click="buySeal" :disabled="energy<10">
        Buy One Seal ({{price}}Energy)
      </button>
    </section>
  </main>

</template>

<script lang="ts">
import {useStore} from "vuex";
import {reactive, toRefs, computed, onBeforeMount} from "vue";
import {PlayerActionTypes} from "@/store/modules/player/action-types";

export default {
  name: "Home",
  setup(){
    const store = useStore();
    const state = reactive({
      name : computed(() => store.getters.getPlayerName),
      energy : computed(() => store.getters.getPlayerEnergy),
      seals: computed(() => store.getters.getPlayerSeals),
      price: computed(() => (store.getters.getPlayerSeals.length+1 + store.getters.getNbEmbedded) * 10),
      selectedSeal: -1
    });

    onBeforeMount(() =>{
      if(state.name === ""){
        let name = "";
        while(name === "") {
          const res = prompt("What is your name?");
          name = res !== null ? res: "";
        }
        store.dispatch(PlayerActionTypes.INIT_PLAYER,name);
      }
    });

    const incEnergy = () => {
      store.dispatch(PlayerActionTypes.EARN_ENERGY, 1);
    };

    const buySeal = () =>{
      store.dispatch(PlayerActionTypes.BUY_SEAL, state.price);
    };

    const getElementalBackground = (elem: string): string =>{
      if(elem.toLowerCase() === "void"){
        return 'none'
      }else{
        return `url(${require(`@/assets/seals/${elem.toLowerCase()}.svg`)}`
      }
    };

    const selectSeal = (ind: number) => {
      if(ind !== state.selectedSeal){
        state.selectedSeal = ind;
      }else{
        state.selectedSeal = -1;
      }
    };

    const destroySelectedSeal = () => {
      const selSeal = store.getters.getPlayerSeals[state.selectedSeal];
      if(selSeal){
        const name = selSeal["name"];
        store.dispatch(PlayerActionTypes.REM_SEAL_BAG, name);
        state.selectedSeal = -1;
      }
    };

    const getSignImage = (sign: string) => {
      return require(`@/assets/signs/${sign}.svg`)
    };

    return({
      ...toRefs(state),
      incEnergy,
      buySeal,
      getElementalBackground,
      selectSeal,
      destroySelectedSeal,
      getSignImage
    });
  }
}
</script>

<style scoped>

</style>