<template>
  <main class="h-screen flex flex-col content-center justify-between">
    <article class="p-5">
      <h2>Rules</h2>
      <p>In this game you will earn Energy. To start we give you 3 Seals. </p>
      <p>With those seals you can supply the Pentagram to earn more Energy.</p>
      <p>Each seal have is own element and in this world there is 4 element :
        <span v-for="(elem, index) in elems" :key="index" :class="`text-${elementalColor(elem.name)}`">
          {{elem.name}}{{`${index === elems.length-1?'.':', '}`}}
        </span>
      </p>
      <p>All the elements have affinity with all other elements.</p>
      <ul v-for="(elem, index) in elems" :key="index">
        <li><span :class="`text-${elementalColor(elem.name)}`">{{elem.name}}</span> :
          <ul>
            <li>Have affinity with <span :class="`text-${elementalColor(elem.affinity)}`">{{elem.affinity}}.</span></li>
            <li>Have rejection with <span :class="`text-${elementalColor(elem.rejection)}`">{{elem.rejection}}.</span></li>
          </ul>
        </li>
      </ul>
    </article>
    <article class="w-screen flex flex-row justify-between">
      <button @click="reset">Reset Game</button>
      <button @click="rename">Rename</button>
      <small>Version {{version}}</small>
    </article>
  </main>
</template>

<script lang="ts">
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";
import {PentagramActionTypes} from "@/store/modules/tools/pentagram/action-types";
import {elements} from "@/store/types/Elements";

export default {
  name: "Options",
  setup(){
    const store = useStore();
    const elems = [elements["water"],elements["fire"], elements["earth"], elements["wind"]];

    const reset = () => {
      if(confirm("Reset all your game data forever. It's a long time.")){
        store.dispatch(PlayerActionTypes.RESET_PLAYER);
        store.dispatch(PentagramActionTypes.RESET_PENTAGRAM);
        window.localStorage.clear();
        document.location.reload();
      }
    };

    const elementalColor = (elem: string): string =>{
      let res;
      if(elem === 'Water'){
        res="blue-600";
      }else if(elem === 'Earth'){
        res="yellow-800";
      }else if(elem ==='Wind'){
        res="green-600";
      }else if(elem === "Fire"){
        res="red-600";
      }else{
        res="black";
      }
      return res;
    };

    const rename = () => {
      let name = "";
      while(name === "") {
        const res = prompt("What is your name?");
        name = res !== null ? res: "";
      }
      store.dispatch(PlayerActionTypes.RENAME, name);
    };

    return {
      version : process.env.VUE_APP_VERSION,
      elems,
      reset,
      elementalColor,
      rename
    }
  }
}
</script>

<style scoped>

</style>