<template>
  <main class="h-screen w-auto flex flex-col content-middle justify-start">
    <section id="bag" class="mx-auto flex flex-col content-center">
      <h1>Your energy : {{ Math.floor(playerEnergy) }}</h1>
      <h1>Your seal's Bag:</h1>
      <ul class="m-auto p-3 bg-yellow-800 rounded-lg flex flex-row flex-wrap">
        <li v-for="(seal, index) in playerSeals" :key="index"
            :class="`w-16 h-16 flex flex-col content-center justify-center cursor-pointer border-4 border-yellow-800 rounded-3xl
            ${selectedSeal > -1 && selectedSeal === index? 'bg-blue-900':'' }`"
            :style="{
              'background-image': getElementalBackground(seal.element.toLowerCase()),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
            }"
            @click="selectSeal(index)"
        >
          <img :src="`${getSignImage(seal.sign)}`" :alt="seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li v-if="playerSeals.length === 0" class="w-16 h-16">Empty</li>
      </ul>
    </section>

    <section id="pentagram" class="h-screen w-screen flex flex-col">
      <h1>{{ pentagramName }} : {{pentagramEnergy.toPrecision(3) }}</h1>
      <ul
              class="mx-auto"
              :style="{
        'background-image': `url(${require('@/assets/pentagram.svg')})`,
        'background-repeat': 'no-repeat',
        'background-position': 'center',
        'display': 'grid',
        'grid-template-columns': '4rem 4rem 4rem 4rem 4rem 4rem 4rem',
        'grid-template-rows': '4rem 4rem 4rem 4rem 4rem 4rem 4rem'
      }"
      >
        <li
                :class="`flex flex-row align-center justify-center p-auto cursor-pointer
                col-start-4 col-end-4
                row-start-1 row-end-1
                `"
                :style="{
              'background-image':  getElementalBackground(pentagramSlots[0].seal.element),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
                }"
                @click.left="putSeal(0)"
                @click.right.prevent="removeSeal(0)"
                @dblclick="removeSeal(0)"
        >
          <img v-if="pentagramSlots[0].seal.element !=='Void'" :src="`${getSignImage(pentagramSlots[0].seal.sign)}`" :alt="pentagramSlots[0].seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li
                :class="`flex flex-row align-center justify-center p-auto cursor-pointer
                col-start-7 col-end-7
                row-start-3 row-end-3
                `"
                :style="{
              'background-image':  getElementalBackground(pentagramSlots[1].seal.element),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
                }"
                @click.left="putSeal(1)"
                @click.right.prevent="removeSeal(1)"
                @dblclick="removeSeal(1)"
        >
          <img v-if="pentagramSlots[1].seal.element !=='Void'" :src="`${getSignImage(pentagramSlots[1].seal.sign)}`" :alt="pentagramSlots[1].seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li
                :class="`flex flex-row align-center justify-center p-auto cursor-pointer
                col-start-6 col-end-6
                row-start-7 row-end-7
                `"
                :style="{
              'background-image':  getElementalBackground(pentagramSlots[2].seal.element),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
                }"
                @click.left="putSeal(2)"
                @click.right.prevent="removeSeal(2)"
                @dblclick="removeSeal(2)"
        >
          <img v-if="pentagramSlots[2].seal.element !=='Void'" :src="`${getSignImage(pentagramSlots[2].seal.sign)}`" :alt="pentagramSlots[2].seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li
                :class="`flex flex-row align-center justify-center p-auto cursor-pointer
                col-start-2 col-end-2
                row-start-7 row-end-7
                `"
                :style="{
              'background-image':  getElementalBackground(pentagramSlots[3].seal.element),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
                }"
                @click.left="putSeal(3)"
                @click.right.prevent="removeSeal(3)"
                @dblclick="removeSeal(3)"
        >
          <img v-if="pentagramSlots[3].seal.element !=='Void'" :src="`${getSignImage(pentagramSlots[3].seal.sign)}`" :alt="pentagramSlots[3].seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
        <li
                :class="`flex flex-row align-center justify-center p-auto cursor-pointer
                col-start-1 col-end-1
                row-start-3 row-end-3
                `"
                :style="{
              'background-image':  getElementalBackground(pentagramSlots[4].seal.element),
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'background-clip': 'padding-box',
              'line-height': '7rem'
                }"
                @click.left="putSeal(4)"
                @click.right.prevent="removeSeal(4)"
                @dblclick="removeSeal(4)"
        >
          <img  v-if="pentagramSlots[4].seal.element !=='Void'" :src="`${getSignImage(pentagramSlots[4].seal.sign)}`" :alt="pentagramSlots[4].seal.sign" class="w-3/4 h-3/4 m-auto">
        </li>
      </ul>
    </section>
  </main>
</template>

<script lang="ts">
import {useStore} from "vuex";
import {computed, reactive, toRefs} from "vue";
import {PentagramActionTypes} from "@/store/modules/tools/pentagram/action-types";
import {PlayerActionTypes} from "@/store/modules/player/action-types";

export default {
  name: "Pentagram",
  setup(){
    const store = useStore();
    const state = reactive({
      playerEnergy: computed(() => store.getters.getPlayerEnergy),
      playerSeals: computed(() => store.getters.getPlayerSeals),
      pentagramName: computed(() => store.getters.getPentagramName),
      pentagramEnergy: computed(() => store.getters.getPentagramEnergy),
      pentagramSlots: computed(() => store.getters.getPentagramSlots),
      selectedSeal: -1
    });

    const getElementalBackground = (elem: string): string =>{
      if(elem.toLowerCase() === "void"){
        return 'none'
      }else{
        return `url(${require(`@/assets/seals/${elem.toLowerCase()}.svg`)}`
      }
    };

    const addRandomSealFromBag = () => {
      const indSeal = Math.floor(Math.random() * state.playerSeals.length);
      const seal = store.getters.getPlayerSeals[indSeal];

      store.dispatch(PlayerActionTypes.REM_SEAL_BAG, seal["name"]);

      const indSlot = Math.floor(Math.random() * store.getters.getNbMaxEmbedded);

      store.dispatch(PentagramActionTypes.ADD_SEAL_PENTA, {seal: seal, index: indSlot});
    };

    const selectSeal = (ind: number) => {
      if(ind !== state.selectedSeal){
        state.selectedSeal = ind;
      }else{
        state.selectedSeal = -1;
      }

    };

    const putSeal = (ind: number) => {
      if(state.selectedSeal> -1){
        const selSeal = store.getters.getPlayerSeals[state.selectedSeal];
        if(selSeal){
          const name = selSeal["name"];
          store.dispatch(PlayerActionTypes.REM_SEAL_BAG, name);
          store.dispatch(PentagramActionTypes.ADD_SEAL_PENTA, {seal: selSeal, index: ind});
          state.selectedSeal = -1;
        }
      }
    };

    const removeSeal = (ind: number) => {
      const seal = store.getters.getPentagramSlots[ind]["seal"];
      store.dispatch(PentagramActionTypes.REM_SEAL_PENTA, ind);
      store.dispatch(PlayerActionTypes.ADD_SEAL_BAG, seal);
    };

    const getSignImage = (sign: string) => {
      console.log(sign);
      return require(`@/assets/signs/${sign}.svg`)
    };

    return({
      ...toRefs(state),
      getElementalBackground,
      addRandomSealFromBag,
      selectSeal,
      putSeal,
      removeSeal,
      getSignImage
    })
  }
}
</script>

<style scoped>

</style>