<template>
  <header id="nav" class="flex flex-row align-middle justify-center">
    <article v-for="(page, index) in pages" :key="index">
      <span v-if="(index === 1 && playerSealsNumber > 0) || index!==1">
        <input type="radio" :id="`nav-${index}`"  :name="`nav-${index}`" :value="page" v-model="selectedPage" class="appearance-none">
      <label :for="`nav-${index}`">{{ page }}</label>
      </span>
    </article>
  </header>
  <Home v-if="selectedPage === pages[0]"/>
  <Pentagram v-else-if="(selectedPage === pages[1])"/>
  <Options v-else-if="(selectedPage === pages[2])"/>
  <article v-else>
    <h1 v-if="playerName !== ''">Welcome {{playerName}}</h1>
    <h1 v-else>Welcome Newcomer!</h1>
  </article>
</template>

<script lang="ts">
import {reactive, toRefs, onBeforeMount, onBeforeUnmount, computed} from "vue";
import Home from "@/components/Home.vue";
import Pentagram from "@/components/Pentagram.vue";
import Options from "@/components/Options.vue";
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";
import {PentagramActionTypes} from "@/store/modules/tools/pentagram/action-types";

export default {
  name:"App",
  components: {Options, Pentagram, Home},
  setup(){
    const store = useStore();
    const state = reactive({
      selectedPage: "",
      pages:["Player","Pentagram","Help"],
      idleEnergy: 0,
      playerName: computed(() => store.getters.getPlayerName),
      playerSealsNumber: computed(() => (store.getters.getPlayerSeals.length + store.getters.getNbEmbedded)),
    });
    onBeforeMount(() => {
      const vers = window.localStorage.getItem("version");
      if(vers){
        if(vers !== process.env.VUE_APP_VERSION){
          window.localStorage.clear();
        }
      }else{
        window.localStorage.setItem("version", process.env.VUE_APP_VERSION);
      }


      const rawPlayer = window.localStorage.getItem("player");
      const rawPentagram = window.localStorage.getItem("pentagram");
      if(rawPlayer){
        store.dispatch(PlayerActionTypes.SET_PLAYER, rawPlayer);
      }
      if(rawPentagram){
        store.dispatch(PentagramActionTypes.SET_PENTAGRAM, rawPentagram);
      }else{
        store.dispatch(PentagramActionTypes.INIT_PENTAGRAM);
      }
      state.idleEnergy = setInterval(() => {
        if(store.getters.getPentagramEnergy > 0){
          store.dispatch(PlayerActionTypes.EARN_ENERGY, store.getters.getPentagramEnergy/10)
        }
      }, 100);
    });
    onBeforeUnmount(() => {
      clearInterval(state.idleEnergy);
    });

    return {...toRefs(state)};
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 99vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-start;
}

#nav {
  padding: 30px;
}

input[type="radio"] + label {
  padding: 10px;
  font-size: large;
}

input[type="radio"]:checked + label {
  background-color: rgba(147, 197, 253, 1);
}
</style>
